{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Ajouter une image</h1>
    {{ include('image/_form.html.twig', {'button_label': 'Envoyer'}) }}
    <a href="{{ path('app_image_index') }}">Retour à la liste</a>

{% endblock %}
