// _variables.scss

// Variables
$grid-columns: 12;
$gutter-width: 1rem;
$container-max-widths: (
    sm: 36rem,
    md: 48rem,
    lg: 62rem,
    xl: 75rem,
    xxl: 90rem
);
$grid-breakpoints: (
    xs: 0rem,
    sm: 36rem,
    md: 48rem,
    lg: 62rem,
    xl: 75rem,
    xxl: 90rem
);
$font-main: 'Arial', sans-serif;
$padding-sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$margin-sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$align-items-values: start, end, center, baseline, stretch;
$justify-content-values: start, end, center, space-between, space-around, space-evenly;
$default-font-size: 16;
$typo: start, center, end;
$position: absolute, relative, fixed;
$textTransform: uppercase, lowercase, capitalize;

$margin_prefixes: mx, my, m, mt, mb, ml, mr;
$padding_prefixes: px, py, p, pt, pb, pl, pr;
$directions: ('top', 'right', 'bottom', 'left');
$main-color: lightseagreen;